<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../views/mystyle.css"/>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    

    <style>
        
        body {font-family: "Lato", sans-serif}
        .mySlides {display: none}
        </style>
</head>
<div class="w3-top">
    <div class="w3-bar w3-black w3-card">
      <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
      <a href="/index" class="w3-bar-item w3-button w3-padding-large">HOME</a>
      <a href="/refugee-housing" class="w3-bar-item w3-button w3-padding-large w3-hide-small">HOUSING</a>
      <a href="/general-info" class="w3-bar-item w3-button w3-padding-large w3-hide-small">GENERAL</a>
      <a href="/news" class="w3-bar-item w3-button w3-padding-large w3-hide-small">NEWS</a>
      <a href="/login" class="w3-bar-item w3-button w3-padding-large w3-hide-small">LOG IN</a>
      <a href="/signup" class="w3-bar-item w3-button w3-padding-large w3-hide-small">SIGN UP</a>
      <a href="/profile" class="w3-bar-item w3-button w3-padding-large w3-hide-small">PROFILE</a>
    </div>
  </div>
<body>
<!------------------------->

    <main>
        <div class="main-content">
            <div class="map">
                <div id="map"></div>
            </div>
            <div class="housing-list">
                <%
                if (houses) {
                    var cards = '';
                    <!-- Iterate the items object & update the cards variable -->
                houses.forEach(function(house){
                    let new_calendar = '<div class="container"></div><div class="calendar"><div class="month"><i class="fas fa-angle-left prev"></i><div class="date"><h1></h1><p></p></div><i class="fas fa-angle-right next"></i></div><div class="weekdays"><div>Sun</div><div>Mon</div><div>Tue</div><div>Wed</div><div>Thu</div><div>Fri</div><div>Sat</div></div><div class="days"></div></div>';
                    let submit_form = '<div class="housing-form"><form action="/housing_form" method="post" name="housingform"><input type="text" style="display: none;"name="house_desc" value="' + house.house_description + '"><input type="text" style="display: none;"name="house_addr" value="' + house.home_address + '"><input type="text" style="display: none;"name="house_img" value="' + house.house_image + '"><input type="text" style="display: none;"name="dates_available" value="' + house.dates_available + '"><input type="submit" name="Submit" value = "Book Now"></form></div>'
                    cards += '<div class="card" style="width: 18rem;"><div class="card-body"><p>' + house.home_address + '</p><p>' + house.house_description + '</p><img width="250px" src="' + house.house_image + '"><div class="calendar-img">' + new_calendar + '</div><div class="house-form-submit">' + submit_form + '</div></div></div>';
                }); %>
                %>
                    <%- cards %>
                <% } %>
            </div>
        </div>
    </main>
    <footer class="w3-container w3-padding-64 w3-center w3-opacity w3-light-grey w3-xlarge">
        <i class="fa fa-facebook-official w3-hover-opacity"></i>
        <i class="fa fa-instagram w3-hover-opacity"></i>
        <i class="fa fa-snapchat w3-hover-opacity"></i>
        <i class="fa fa-pinterest-p w3-hover-opacity"></i>
        <i class="fa fa-twitter w3-hover-opacity"></i>
        <i class="fa fa-linkedin w3-hover-opacity"></i>
        <p class="w3-medium">Powered by <a href="https://hackcu.org/live/" target="_blank">HackCU 8</a></p>
      </footer>
      <script src="../views/script.js"></script>
      <script>
          API_KEY=os.getenv('API_KEY')
      </script>
    <script
    src=`https://maps.googleapis.com/maps/api/js?key=${API_KEY}&map_ids=ac468524494d7173&callback=initMap`>
    </script>
<script src="../views/calendar.js"></script>
  </body>
  </html>