<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../views/mystyle.css"/>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        
        body {font-family: "Lato", sans-serif}
        .mySlides {display: none}
        </style>
</head>
<div class="w3-top">
    <div class="w3-bar w3-black w3-card">
      <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
      <a href="/index" class="w3-bar-item w3-button w3-padding-large">HOME</a>
      <a href="/refugee-housing" class="w3-bar-item w3-button w3-padding-large w3-hide-small">HOUSING</a>
      <a href="/general-info" class="w3-bar-item w3-button w3-padding-large w3-hide-small">GENERAL</a>
      <a href="/news" class="w3-bar-item w3-button w3-padding-large w3-hide-small">NEWS</a>
      <a href="/login" class="w3-bar-item w3-button w3-padding-large w3-hide-small">LOG IN</a>
      <a href="/signup" class="w3-bar-item w3-button w3-padding-large w3-hide-small">SIGN UP</a>
      <a href="/profile" class="w3-bar-item w3-button w3-padding-large w3-hide-small">PROFILE</a>
    </div>
  </div>
<body>
    <div class="w3-content" style="max-width:1100px">

        <!-- About Section -->
        <div class="w3-row w3-padding-64" id="">
          <div class="w3-col m6 w3-padding-large w3-hide-small imageBox">
           <img src="../views/images/poland_information.png" class="w3-round w3-image w3-opacity-min imageInn" alt="Table Setting" width="600" height="750">
           <img src="../views/images/poland_information_diff.png" class="w3-round w3-image w3-opacity-min hoverImg" alt="Table Setting" width="600" height="750">
          </div>
      
          <div class="w3-col m6 w3-padding-large">
            <h1 class="w3-center">Ukraine Refugees going to Poland</h1><br>
            <h5 class="w3-center">Total Refugees: 505,582</h5>
            <p class="w3-large">Refer to the graphic to the left for more precise information, Poland will take refugees regardless of vaccination status. Take a look at the housing we have listed in Poland or go to a reception point.</p>
            <p class="w3-large w3-text-grey w3-hide-medium">Зверніться до графіка ліворуч для більш точної інформації, Польща прийматиме біженців незалежно від статусу вакцинації. Подивіться на житло, яке ми перерахували в Польщі, або зайдіть у пункт прийому.</p>
            <p class ="w3-large"><a href = "https://www.gov.pl/web/mswia-en/information-for-refugees-from-ukraine"> Click this link for more information</a></p>
          </div>
        </div>
        
        <hr>
        <footer class="w3-container w3-padding-64 w3-center w3-opacity w3-light-grey w3-xlarge">
            <i class="fa fa-facebook-official w3-hover-opacity"></i>
            <i class="fa fa-instagram w3-hover-opacity"></i>
            <i class="fa fa-snapchat w3-hover-opacity"></i>
            <i class="fa fa-pinterest-p w3-hover-opacity"></i>
            <i class="fa fa-twitter w3-hover-opacity"></i>
            <i class="fa fa-linkedin w3-hover-opacity"></i>
            <p class="w3-medium">Powered by <a href="https://hackcu.org/live/" target="_blank">HackCU 8</a></p>
        </footer> 
  </body>
  </html>