<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../views/mystyle.css"/>
    <title>Refugee Project</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<style>
  body {font-family: "Lato", sans-serif}
.mySlides {display: none}
</style>
<!-- Navbar -->
    <!-- <nav>
        <div class="nav-wrapper">
            <div class="nav-wrapper-item"><a href="/index">Home</a></div>
            <div class="nav-wrapper-item"><a href="/refugee-housing">Refugee Housing</a></div>
            <div class="nav-wrapper-item"><a href="/general-info">General Info</a></div>
            <div class="nav-wrapper-item"><a href="/news">News</a></div>
            <div class="nav-wrapper-item"><a href="/resources">Resources</a></div>
            <div class="nav-wrapper-item"><a href="/login">Log In</a></div>
            <div class="nav-wrapper-item"><a href="/signup">Sign Up</a></div>
            <div class="nav-wrapper-item"><a href="/about-us">About Us</a></div>
        </div>
    </nav> -->
<!------------------------->
<div class="w3-top">
  <div class="w3-bar w3-black w3-card">
    <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="/index" class="w3-bar-item w3-button w3-padding-large">HOME</a>
    <a href="/refugee-housing" class="w3-bar-item w3-button w3-padding-large w3-hide-small">HOUSING</a>
    <a href="/general-info" class="w3-bar-item w3-button w3-padding-large w3-hide-small">GENERAL</a>
    <a href="/news" class="w3-bar-item w3-button w3-padding-large w3-hide-small">NEWS</a>
    <a href="/login" class="w3-bar-item w3-button w3-padding-large w3-hide-small">LOG IN</a>
    <a href="/signup" class="w3-bar-item w3-button w3-padding-large w3-hide-small">SIGN UP</a>
    <a href="/profile" class="w3-bar-item w3-button w3-padding-large w3-hide-small">PROFILE</a>
    <div class="w3-dropdown-hover w3-hide-small">
      <button class="w3-padding-large w3-button" title="More">Home Page Navigation <i class="fa fa-caret-down"></i></button>     
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
        <a href="#resources" class="w3-bar-item w3-button">Resources</a>
        <a href="#news" class="w3-bar-item w3-button">News and Map</a>
        <a href="#contact" class="w3-bar-item w3-button">Contact</a>
        <!-- <a href="#" class="w3-bar-item w3-button"> </a>
        <a href="#" class="w3-bar-item w3-button"> </a> -->
      </div>
    </div>
  </div>
</div>
<div id="navDemo" class="w3-bar-block w3-black w3-hide w3-hide-large w3-hide-medium w3-top" style="margin-top:46px">
  <a href="#resources" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">resources</a>
  <a href="#news" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">news</a>
  <a href="#contact" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">CONTACT</a>
  <a href="#" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">MERCH</a>
</div>

<body>
  <!-- Page content -->
<div class="w3-content" style="max-width:2000px;margin-top:46px">

  <!-- Automatic Slideshow Images -->
  <div class="mySlides w3-display-container w3-center">
    <img src="../views/images/housing.jpg" class = "image-slide">
        <div class="centered"><span>REFUGEE HOUSING</span></div>
        <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small">
      <h3>Refugee housing</h3>
      <p><b>Come search for options that work for you</b></p>   
    </div>
  </div>
  <div class="mySlides w3-display-container w3-center">
    <img src="../views/images/protest.jpg" class = "image-slide">
        <div class="centered"><span>REFUGEE HOUSING</span></div>
    <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small">
      <h3>Russian Protesters</h3>
      <p><b>The people of Russia have also have opposition to the war</b></p>    
    </div>
  </div>
  <div class="mySlides w3-display-container w3-center">
    <img src="../views/images/refugee_image.jpg" class = "image-slide">
        <div class="centered"> <span>REFUGEE HOUSING</span></div>
    <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small">
      <h3>Ukranian refugees</h3>
      <p><b>seeking asylum from a war torn country</b></p>    
    </div>
  </div>

  <!-- The resources Section -->
  <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="resources">
    <h2 class="w3-wide">About Us</h2>
    <p class="w3-opacity"><i>Looking to help all refugees find asylum</i></p>
    <p class="w3-justify">Our website is a way for refugees - especially Ukranian refugees- to seek housing when displaced from their homes. If you are a refugee in need of shelter, please click the box below that will direct you to next steps. if you are looking to donate or provide housing please click that option below.</p>
    <div class="w3-row w3-padding-32">
      <div class="w3-third">
            <button onclick="location.href='/signup'" type="button" class="btn btn-primary btn-lg w3-hover-opacity">
                <p>Looking to Offer Housing/aid</p> 
                <img src="../views/images/help.jpg" class="w3-round w3-margin-bottom" alt="Random Name" style="width:60%">
            </button>
            </div>
        <div class="w3-third">
            <button onclick="location.href='/refugee-housing'" type="button" class="btn btn-primary btn-lg w3-hover-opacity">
                <p>In Need of Housing</p>
        <img src=" ../views/images/aid.jpg" class="w3-round w3-margin-bottom" alt="Random Name" style="width:60%">
            </button>
            </div>
        <div class="w3-third">
            <button onclick="location.href='/general-info'" type="button" class="btn btn-primary btn-lg w3-hover-opacity">
                <p>General Information</p>
        <img src="../views/images/research.jpg" class="messedup w3-round w3-margin-bottom" alt="Random Name" style="width:60%">
            </button>
        </div>
    </div>
  </div>

  <!-- The map & News Section -->
  <div class="w3-black" id="news">    
    <div class="w3-container w3-content w3-padding-64" style="max-width:800px">
      <button type="button" onclick= "location.href='https://my.visme.co/view/mxym93en-interactive-visa-map';" class="btn btn-primary btn-lg w3-hover-opacity">
        <h2 class="w3-wide w3-center">CLICK HERE: INTERACTIVE MAP FOR VISA REQUIRMENTS</h2>
    </button>
      <p class="w3-opacity w3-center"><i>This is For Places Where Refugees Can Go</i></p><br>

      
      <div class="w3-row-padding w3-padding-32" style="margin:0 -16px">
        <h2 class="w3-wide w3-center">TOP HEADLINES</h2>
        <div class="w3-third w3-margin-bottom">

          <img src="../views/images/bloomburg.jpg" alt="New York" style="width:100%" >
          <div class="w3-container w3-white">
            <p><b>Ukraine Update: More Pressure Needed on Putin</b></p>
            <p class="w3-opacity">March 5th 2022</p>
            <p>U.K. Prime Minister Boris Johnson said diplomatic efforts in lead up to Russia's invasion of Ukraine had stood no chance, and that President ...</p>
            <button class="w3-button w3-black w3-margin-bottom" onclick="location.href = 'https://www.bloomberg.com/news/articles/2022-03-05/ukraine-update-civilian-safety-corridor-to-open-in-mariupol';">Read More</button>
          </div>
        </div>
        <div class="w3-third w3-margin-bottom">
          <img src="../views/images/nyt.jpg" alt="Paris" style="width:100%" >
          <div class="w3-container w3-white">
            <p><b>What Happened on Day 9 of Russia's Invasion of Ukraine</b></p>
            <p class="w3-opacity">March 4th 2022</p>
            <p>Catch up on the latest Ukraine news. LVIV, Ukraine — Russia continued its broad offensive in Ukraine on Saturday, pummeling cities and towns ...</p>
            <button class="w3-button w3-black w3-margin-bottom" onclick="location.href = 'https://www.nytimes.com/live/2022/03/05/world/russia-ukraine';">Read More</button>
          </div>
        </div>
        <div class="w3-third w3-margin-bottom">
          <img src="../views/images/wsj.jpeg" alt="San Francisco" style="width:100%">
          <div class="w3-container w3-white">
            <p><b>The Two Blunders That Caused the Ukraine War - WSJ</b></p>
            <p class="w3-opacity">March 4th 2022</p>
            <p>Robert Service, a leading historian of Russia, says Moscow will win the war but will lose the peace and fail to subjugate Ukraine...</p>
            <button class="w3-button w3-black w3-margin-bottom" onclick="location.href = 'https://www.wsj.com/articles/cause-ukraine-war-robert-service-moscow-putin-lenin-stalin-history-communism-invasion-kgb-fsb-11646413200';">Read More</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- The Contact Section -->
  <div class="w3-container w3-content w3-padding-64 w3-center" style="max-width:800px" id="contact">
    <h2 class="w3-wide w3-center">CONTACT</h2>
    <p class="w3-opacity w3-center"><i>Reach out for any questions!</i></p>
    <div class="w3-row w3-padding-32">
      <div class=" m6 w3-large w3-margin-bottom">
        <i class="fa fa-map-marker" style="width:30px"></i> Boulder CO, US<br>
        <i class="fa fa-phone" style="width:30px"></i> Phone: +00 151515<br>
        <i class="fa fa-envelope" style="width:30px"> </i> Email: refugeeHelp@gmail.com<br>
      </div>
    </div>
  </div>
  
<!-- End Page Content -->
</div>

<!-- Image of location/map -->
<!-- <img src="/w3images/map.jpg" class="w3-image w3-greyscale-min" style="width:100%"> -->

<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-center w3-opacity w3-light-grey w3-xlarge">
  <i class="fa fa-facebook-official w3-hover-opacity"></i>
  <i class="fa fa-instagram w3-hover-opacity"></i>
  <i class="fa fa-snapchat w3-hover-opacity"></i>
  <i class="fa fa-pinterest-p w3-hover-opacity"></i>
  <i class="fa fa-twitter w3-hover-opacity"></i>
  <i class="fa fa-linkedin w3-hover-opacity"></i>
  <p class="w3-medium w3-centered">Powered by <a href="https://hackcu.org/live/" target="_blank">HackCU 8</a></p>
</footer>

<script>
// Automatic Slideshow - change image every 4 seconds
var myIndex = 0;
carousel();

function carousel() {
  var i;
  var x = document.getElementsByClassName("mySlides");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";  
  }
  myIndex++;
  if (myIndex > x.length) {myIndex = 1}    
  x[myIndex-1].style.display = "block";  
  setTimeout(carousel, 4000);    
}

// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}
</script>
</body>
</html>
