.pages {
    display: inline;
    float: left;
    padding-left: 8px;
    font-size: 10px;
    
}
.website-name {
    display: inline;
    float: left;
    font-size: 10px;
}
.left-nav {
    margin-left: 5%;
}
.right-nav {
    margin-left: 20%;
}
/* .page-wrap {
    width: 800px;
    margin: 0 auto;
} */
.page-wrap {
    /* border: 5px solid #FFFF00; */
    text-align: center;
}
.text-wrap {
    /* border: 5px solid #FFFF00; */
    display: flex;
    justify-content: center;
}
.centered {
    display:inline;
    font-weight: 900;
    font-size: 100px;
    position: absolute;
    top: 100px;
    left: 0px;
    width: 100%;
    background-color: white;

}
.image-slide{
    width:100%; 
    height: 800px;
}
.w3-third{
    font-weight: bold;
    font-size: 15px
}
.w3-round{
    height: 150px;
}
.imageBox {
    position: relative;
    float: left;
}
  
.imageBox .hoverImg {
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    background: url ("./images/poland_information_diff.png") no-repeat 50% 50%;
}
  
.imageBox:hover .hoverImg {
    display: block;
    visibility: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
  }
  
  html {
    font-size: 62.5%;
  }
  
  .container {
    width: 100%;
    background-color: #12121f;
    color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .calendar {
    width: 17rem;
    height: 17rem;
    background-color: #222227;
    box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.4);
  }
  
  .month {
    width: 100%;
    height: 20%;
    background-color: #167e56;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    text-align: center;
    text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
  }
  
  .month i {
    font-size: 1rem;
    cursor: pointer;
  }
  
  .month h1 {
    font-size: 1rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    margin-bottom: 0.4rem;
  }
  
  .month p {
    font-size: 0.5rem;
  }
  
  .weekdays {
    width: 100%;
    height: 1rem;
    padding: 0 0.4rem;
    display: flex;
    align-items: center;
    color: white;
  }
  
  .weekdays div {
    font-size: 0.75rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
    width: calc(17rem / 7);
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
  }
  
  .days {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0.05rem;
  }
  
  .days div {
    font-size: 0.7rem;
    margin: 0.1rem;
    width: calc(18rem / 7);
    height: 1.9rem;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
    transition: background-color 0.2s;
  }
  
  .days div:hover:not(.today) {
    background-color: #262626;
    border: 0.2rem solid #777;
    cursor: pointer;
  }
  
  .prev-date,
  .next-date {
    opacity: 0.5;
  }
  
  .today {
    background-color: #167e56;
  }

  .card {
      margin-top: 50px;
  }

  .main-content {
      margin-top: 80px;
  }
  .login {
      margin-top: 5%;
  }

  .news-content {
      margin-top: 5%;
      width: 100%;
      background-color: #12121f;
      color: #eee;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .news-list {
      margin-top: 5%;
  }

  li {
      display: inline;
  }

  .news-container {
      color: black;
  }

  .card {
      display: inline-block !important;
      margin-left: 1px;
  }

  
  .house-booked {
      margin-top: 5%;
  }

#map{
    height: 80vh;
}

.gm-style-iw-d{
    color: black;
}

.username1 {
    margin-top: 5%;
}

/* Ty's Changes */

.news-content {
    margin-top: 5%;
    width: 100%;
    background-color: black;
    color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
}

.news-list {
    margin-top: 5%;
}

li {
    display: inline;
}

.news-container {
    color: black;
}

.card {
    display: inline-block !important;
    text-align: left;
    margin-left: 1px;
}

.login{  
  width: 382px;  
  overflow: hidden;  
  margin: auto;  
  margin: 20 0 0 450px;  
  padding: 80px;  
  background: lightgrey;  
  border-radius: 15px ;
}  
label{  
color: black;  
font-size: 17px;  
}  
#username{  
width: auto;  
height: 30px;  
border: none;  
border-radius: 3px;  
padding-left: 8px;  
padding-right: 8px;
}  
#password{  
width: auto;  
height: 30px;  
border: none;  
border-radius: 3px;  
padding-left: 8px;  
padding-right: 8px;

} 
#refugee{
color: red;
} 
#log{  
width: 200px;  
height: 30px;  
border: none;  
border-radius: 17px;  
padding-left: 7px;  
color: black;  


}   


.signup{ 
margin-top: 20%; 
width: 382px;  
overflow: hidden;  
margin: auto;  
margin: 20 0 0 450px;  
padding: 80px;  
background: lightgrey;  
border-radius: 15px ;
}  
label{  
color: black;  
font-size: 17px;  
}  
#email{
width: auto;  
height: 30px;  
border: none;  
border-radius: 3px;  
padding-left: 8px;  
padding-right: 8px;
}
#image{
width: auto;  
height: 30px;  
border: none;  
border-radius: 3px;  
padding-left: 8px;  
padding-right: 8px;
}
#address{
width: auto;  
height: 30px;  
border: none;  
border-radius: 3px;  
padding-left: 8px;  
padding-right: 8px;
}
#housedescription{
width: auto;  
height: 30px;  
border: none;  
border-radius: 3px;  
padding-left: 8px;  
padding-right: 8px;
}
#datesavailable{
width: auto;  
height: 30px;  
border: none;  
border-radius: 3px;  
padding-left: 8px;  
padding-right: 8px;
}
#username{  
width: auto;  
height: 30px;  
border: none;  
border-radius: 3px;  
padding-left: 8px;  
padding-right: 8px;
}  
#password{  
width: auto;  
height: 30px;  
border: none;  
border-radius: 3px;  
padding-left: 8px;  
padding-right: 8px;

} 
#refugee{
color: red;
} 
#sign{  
width: 200px;  
height: 30px;  
border: none;  
border-radius: 17px;  
padding-left: 7px;  
color: black;  


} 
.messedup {
    width: 200px !important;
}

.card-body img {
    width: 100%;
    height: 150px;
}

.profile-tab {
    margin-left: 5%;
}