<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../views/mystyle.css"/>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        
        body {font-family: "Lato", sans-serif}
        .mySlides {display: none}
        </style>
</head>
<div class="w3-top">
    <div class="w3-bar w3-black w3-card">
      <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
      <a href="/index" class="w3-bar-item w3-button w3-padding-large">HOME</a>
      <a href="/refugee-housing" class="w3-bar-item w3-button w3-padding-large w3-hide-small">HOUSING</a>
      <a href="/general-info" class="w3-bar-item w3-button w3-padding-large w3-hide-small">GENERAL</a>
      <a href="/news" class="w3-bar-item w3-button w3-padding-large w3-hide-small">NEWS</a>
      <a href="/login" class="w3-bar-item w3-button w3-padding-large w3-hide-small">LOG IN</a>
      <a href="/signup" class="w3-bar-item w3-button w3-padding-large w3-hide-small">SIGN UP</a>
      <a href="/profile" class="w3-bar-item w3-button w3-padding-large w3-hide-small">PROFILE</a>
    </div>
  </div>
<body>
    <div class="profile-tab">
    <%
    if (data) {
      var cards = '';
      <!-- Iterate the items object & update the cards variable -->
      cards += '<div class="username1"><p>Logged in as: ' + username1 + '</p></div>'
        cards += '<div class="house-booked"><h3>Address: ' + data.home_address + '</h3><p>Description: ' + data.house_description + '</p><p>Dates Reserved: ' + data.dates_available + '</p><img style="width: 200px;"src="' + data.house_image + '"></div>';
        console.log(cards);
  %>
      <%- cards %>
  <% } %>
    </div>
</body>